{% extends 'director_base.html' %}

{% block title %}Редактирование учащегося{% endblock %}
{% block content %}
<div class="container">
    <form method="post" id="edit">
        {% csrf_token %}
        <input class="form-control" name="name" value="{{mname}}" required placeholder="Имя">
        <input class="form-control" name="surname" value="{{sname}}" required placeholder="Фамилия">
        <input class="form-control" name="fathername" value="{{fname}}" required placeholder="Отчество">
    </form>
    <button class="btn btn-success" form="edit">Применить</button>
</div>
{% endblock %}
