<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/JPm2p8jOgxwShKIs02V3GBJsmQa0HwLpt1IIwzUxfrvjOgvm6UPfVcs52m64iX-lZzVTu47B6amWofzWPz2kznMXNbzIH7PhlnY6afdGZSgnHg-dTD8fuRvdUuTuVCVbmkYs_kYk_5_qtSRNki_SEAz9uD8N9Ngk2Jw7KMlxcTL5o3oSRV1cBBCOskoGtti1owcPFvsWRsQixTWqjohOXZ9j6RldsXgXQojDvZ4f87JSGNv6sb8K6KyxVqSgYYXiLEHMxx6i1p_M1lhf79IHST9jnWdPBnH8QRFQuyzdheAbA90uliJF614ybwYKmR3ku2aflAz043Z3x4E1O0hRW1Pe6-Zn4uvqp3SSfRIm8se3U2EvhYBKQ_lhi2O-2aW--TeeGqLT-GxNP4mUAqc3PG1nGyc6dVbLT8tPH0b2eeSiAgdsp-JSiaHb4rkj_zmAdyqnZsxiQn2ZKEVKHimS0AYNPWrYJucJUspYNWmpR0qcLSomappWEo1tbjXClu5XFLA_Ekf50Hd5bhMcFDg1dv7YV1pMgbzE1b5Uc8e9V_uPqppmeDhku8FDFylGhNrltrN9K5jP8UeT9UjWTvnUcmIOr-APDr3giy1yuhqmSENm9sMYa2RG7i1XOSO7xBphldVa8exbDUeSWL89sWCgaELRExeytDWTy2GqgVqHswN7QJ11xk2vau4LxeQcSW0=w200-h190-p-k-nu-ft">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Регистрация директора | Дневник</title>
  </head>
  <body class="text-center">
    {% csrf_token %}
    <div class="container">
    <form action="{% url 'home:create_director_user' %}" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
      <br>
      <h6>Регистрация предназначена для директора либо системного администратора школы. Если вы - ученик, обратитесь в школу за паролем.</h6>
      <br>
      <input name="userName" class="form-control" placeholder="Имя пользователя" required autofocus>
      <br>
      <input name="userRealName" class="form-control" placeholder="Имя" required autofocus>
      <input name="userLastName" class="form-control" placeholder="Фамилия" required autofocus>
      <input name="userFatherName" class="form-control" placeholder="Отчество" required autofocus>
      <br>
      <input type="email" name="inputEmail" class="form-control" placeholder="Адрес электронной почты" required autofocus>
      <br>
      <input type="password" name="inputPassword" class="form-control" placeholder="Пароль" required>
      <input type="password" name="inputPasswordReq" class="form-control" placeholder="Повторите пароль" required>
      <br>
      <hr>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020 <a href="/login/">Назад</a></p>
    </form>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
