{% extends 'child_base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}

 {% if article %}
 <div class="container text-center">
	<h4>Новости</h4>
	 {% for a in article %}
  <ul class="list-group mt-4">
  <li class="list-group-item text-left"><strong>{{a.date}}</strong> <span>{{a.title}}</span> <span class="float-right mr-3"><a href="{% url 'home:det' a.id %}">Перейти к новости</a></span></li>
  </ul>
	{% endfor %}

	  </div>
 {% else %}
<div class="container text-center">
	<h1>Школа не разместила ни одной новости.</h1>
</div>
 {% endif %}

</div>
{% endblock %}
