{% extends 'teacher_base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}
 {% if article %}
 <div class="container">
  <h3><strong>Новости</strong></h3>
	{% for a in article %}
  <ul class="list-group mt-4">
  <li class="list-group-item"><strong>{{a.date}}</strong> <span>{{a.title}}</span> <span class="float-right mr-3"><a href="{% url 'home:det' a.id %}">Перейти к новости</a></span></li>
  </ul>
	{% endfor %}
	</div>
 {% else %}
 <div class="container">
   <br>
   <h4>Добавьте первую новость</h4>
 </div>
 {% endif %}
{% endblock %}
